<div id="<%= dom_id claim_requirement %>">
  <p>
    <strong>Requirement:</strong>
    <%= claim_requirement.requirement %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= claim_requirement.type %>
  </p>

</div>
