
<%= render @claim_requirement %>

<div>
  <%= link_to "Edit", edit_claim_requirement_path(@claim_requirement), class: 'btn btn-primary' %> |
  <%= link_to "Back", claim_requirements_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @claim_requirement, method: :delete, class: 'btn btn-danger' %>
</div>
