<div id="<%= dom_id geo_province %>">
  <p>
    <strong>Geo region:</strong>
    <%= geo_province.geo_region_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= geo_province.name %>
  </p>

  <p>
    <strong>Psgc code:</strong>
    <%= geo_province.psgc_code %>
  </p>

</div>
