<div id="<%= dom_id urd_requirement %>">
  <p>
    <strong>Requirement:</strong>
    <%= urd_requirement.requirement %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= urd_requirement.description %>
  </p>

  <p>
    <strong>Requirement type:</strong>
    <%= urd_requirement.requirement_type %>
  </p>

</div>
