<!-- <h1>Create M.O.A</h1> -->

<%#= render "form", gyrt_agreement: @gyrt_agreement %>

<%= render "remote_modal", title: "Create M.O.A" do %>
  <%= render "form", gyrt_agreement: @gyrt_agreement %>
<% end %>

<br>
