
<%= render @division %>

<div>
  <%= link_to "Edit", edit_division_path(@division), class: 'btn btn-primary' %> |
  <%= link_to "Back", divisions_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @division, method: :delete, class: 'btn btn-danger' %>
</div>
