
<%= render @agent %>

<div>
  <%= link_to "Edit", edit_agent_path(@agent), class: 'btn btn-primary' %> |
  <%= link_to "Back", agents_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @agent, method: :delete, class: 'btn btn-danger' %>
</div>
