
<%= render @proposal_remark %>

<div>
  <%= link_to "Edit", edit_proposal_remark_path(@proposal_remark), class: 'btn btn-primary' %> |
  <%= link_to "Back", proposal_remarks_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @proposal_remark, method: :delete, class: 'btn btn-danger' %>
</div>
