
<%= render @batch %>

<div>
  <%= link_to "Edit", edit_batch_path(@batch), class: 'btn btn-primary' %> |
  <%= link_to "Back", batches_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @batch, method: :delete, class: 'btn btn-danger' %>
</div>
