
<%= render @geo_region %>

<div>
  <%= link_to "Edit", edit_geo_region_path(@geo_region), class: 'btn btn-primary' %> |
  <%= link_to "Back", :back, class: 'btn btn-primary' %>

  <%= button_to "Delete", @geo_region, method: :delete, class: 'btn btn-danger' %>
</div>
