<div class="nested-fields mt-3">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <%= f.association :benefit, label: "Select Benefit", input_html: { data: { controller: "ts--select"} } %>
        </div>
        <div class="col-6">
          <%= f.input :sum_insured %>
        </div>
        <%= link_to_remove_association "Remove Benefit", f, class: "link-danger" %>
      </div>
    </div>
  </div>
</div>